#choice {
    display: flex;
    padding-top: 10rem;
};

#resultDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 

    font-weight: bold;
    font-size: 24px;
};
