@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}

.shake {
    animation: shake 0.1s infinite;
}

style {
display: block;
margin: 0 auto; 
padding-top: 10rem; 
padding-left: 20rem;
font-weight: bold; 
font-size: 50px;
}